<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form th:action th:object="${urlHolder}" method="post">
  <div>
    <label for="id">ID: </label>
    <input type="text" id="id" th:field="*{id}" readonly/>
  </div>
  <div>
    <label for="origin">원본 URL: </label>
    <input type="text" id="origin" th:field="*{origin}" />
  </div>
  <div>
    <label for="encoded">Short URL: </label>
    <input type="text" id="encoded" th:field="*{encoded}" readonly/>
  </div>
  <button type="submit">수정</button>
</form>

</body>
</html>